@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>

<p>Esse projeto foi criado para um maior controle do condominio dos moradores.</p>
<p>O CRUD foi criado em ASP.NET, com a arquitetura MVC e com o Banco de Dados SQL Server.</p>
