@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Controle de Moradores</h1>
    <p>Condominio Everglades solicita que todos os moradores façam o cadastro de suas informações, para um maior controle e segurança de todos. Grato Corpo Diretivo. </p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Cadastro de Moradores","Index","Cadastroes")</h2>
        <p>Cadastrar informações dos Moradores.</p>
    </div>
</div>